*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --sidebar-color: #1992d4;
  --background-gray: #e2e8f0;
  --card-border: #f0b429;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.company-logo {
  width: 2em;

  filter: brightness(0) invert(1);
}

.link-logo {
  width: 1em;

  filter: brightness(0) invert(1);
}

.bl-logo {
  width: 1em;
}

.sidebar {
  background-color: var(--sidebar-color);
  color: white;
  grid-row: 1 / 3;
  display: grid;
  padding: 15px;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 10px 10px;
  align-content: start;
}

.company-logo,
.link-logo,
.bl-logo {
  vertical-align: bottom;
}

.profile-img-sm {
  width: 2em;
  border-radius: 50%;
  vertical-align: bottom;
}

.profile-img-lg {
  width: 3em;
  border-radius: 50%;
  vertical-align: bottom;
}

.company-logo,
.link-logo {
  justify-self: center;
}

.links-section,
.settings-section {
  padding-top: 30px;
}

.header-buttons {
  background-color: var(--sidebar-color);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
}

.header-search {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 15px;
}

.alert {
  justify-self: end;
}

.header-username {
  display: flex;
  justify-content: space-between;
}

input[type="search"] {
  width: 80%;
  max-width: 400px;
  border: none;
  border-radius: 25px;
  background-color: var(--background-gray);
  padding: 3px 10px;
}

.searchbar,
.alert {
  display: flex;
  align-items: center;
}

.searchbar {
  gap: 10px;
}

.alert {
  gap: 15px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-links {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.header {
  padding: 10px 25px;
  box-shadow: 1px 0px 5px -2px darkslategray;
  z-index: 1;
}

.sm-username {
  font-weight: bold;
  font-size: 0.9em;
}

.lg-username {
  font-weight: bold;
  font-size: 1.1em;
}

.greeting {
  font-size: 0.8em;
}

.content {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  background-color: var(--background-gray);
}

.your-projects {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 160px;
  grid-auto-rows: 160px;
  gap: 10px;
}

.grid-container {
  height: 100vh;
}

.card {
  background-color: white;
  height: 160px;
  width: 240px;
  border-radius: 5px;
  border-left: 5px solid var(--card-border);
  box-shadow: 1px 1px 5px -2px darkslategray;
  padding: 10px;
  position: relative;
}

.card-title,
.section-title {
  font-weight: bold;
  font-size: 0.9em;
}

.card-title {
  padding-bottom: 5px;
}

.section-title {
  padding-bottom: 10px;
}

.card-text {
  font-size: 0.8em;
}

.card-icons {
  display: flex;
  gap: 10px;
  justify-content: end;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
