*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --sidebar-color: #1992d4;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.company-logo {
  width: 2em;
}

.link-logo {
  width: 1em;
}

.sidebar {
  background-color: var(--sidebar-color);
  color: white;
  grid-row: 1 / 3;
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px 10px;
}

.sidebar img {
  filter: brightness(0) invert(1);
  vertical-align: bottom;
}

.company-logo,
.link-logo {
  justify-self: center;
}

.links-section,
.settings-section {
  padding-top: 30px;
}
